<!-- Базовый шаблон страницы (navbar) -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{title}}</title>
</head>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/"><h2>ITMO</h2></a>
        <a class="navbar-brand" href="/">Главная</a>
        <a class="navbar-brand mr-auto" href="/students">Cтуденты</a>
        <a class="navbar-brand mr-auto" href="/projects">Проекты</a>
        <a class="navbar-brand mr-auto" href="/burse">Биржа</a>
        {% if current_user.is_authenticated %}
        <a class="navbar-brand ml-auto" href="/student/{{current_user.username}}">
            <img src="{{ avatars.robohash(current_user.username, size=48) }}" class="rounded-circle border border-dark border-5" alt="..."></a>
        <a class="navbar-brand" href="/student/{{current_user.username}}">
            {{current_user.name}} {{current_user.surname}}</a>
        <a class="btn btn-danger" href="/logout">Выйти</a>
        {% else %}
        <p>
            <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
            <a class="btn btn-success" href="/login">Войти</a>
        </p>
        {% endif %}
    </nav>
</header>
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>