<!-- Шаблон для страницы регистрации пользователя -->
{% extends "base.html" %}

{% block content %}
<h1>Регистрация</h1>
<form action="" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.surname.label }}<br>
        {{ form.surname(class="form-control") }}<br>
        {% for error in form.surname.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.birthday.label }}<br>
        {{ form.birthday(class="form-control", type="date")}}<br>
        {% for error in form.birthday.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.study_place.label }}<br>
        {{ form.study_place(class="form-control") }}<br>
        {% for error in form.study_place.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.program.label }}<br>
        {{ form.program(class="form-control") }}<br>
        {% for error in form.program.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.grade.label }}<br>
        {{ form.grade(class="form-control") }}<br>
        {% for error in form.grade.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.course.label }}<br>
        {{ form.course(class="form-control") }}<br>
        {% for error in form.course.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.photo.label }}<br>
        {{ form.photo(class="form-control") }}<br>
        {% for error in form.photo.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    {% if photo %}
    <img src="{{photo}}" class="card-img-top" alt="...">
    {% endif %}
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}
        <a href="/login" class="btn btn-success">Войти</a></p>
    {{message}}
</form>
{% endblock %}