<!-- Шаблон для страницы с профилем пользователя -->
{% extends "base.html" %}

{% block content %}
<table>
    <tr>
        <td rowspan="6"><img src="{{ avatars.robohash(user.username, size=300) }}"
                             class="rounded-circle border border-dark" alt="..."></td>
    </tr>
    <tr><td style="padding-left:50px"><h1>{{user.name}} {{user.surname}}</h1></td></tr>
    <tr><td style="padding-left:50px"><h6>Никнейм:</h6> {{user.username}}</td></tr>
    {% if user.age %}
        <tr><td style="padding-left:50px"><h6>Возраст:</h6> {{user.age}}</td></tr>
    {% else %}
        <tr><td style="padding-left:50px"><h6>Возраст не указан</h6></td></tr>
    {% endif %}
    {% if user.about %}
        <tr><td style="padding-left:50px"><h6>О себе:</h6> {{user.about}}</td></tr>
    {% else %}
        <tr><td style="padding-left:50px"><h6>О себе:</h6> –</td></tr>
    {% endif %}
    {% if user == current_user %}
    <tr><td style="padding-left:50px">
        <div>
            <a href="/edit_user/{{ user.username }}" class="btn btn-warning">
                Изменить
            </a>
        </div>
    </td></tr>
    {% endif %}
</table>
<div style="margin-top:10px"></div>
<hr>
<p></p>
<h1>Проекты</h1>
{% if current_user.is_authenticated and user == current_user%}
    <a href="/add_project" class="btn btn-secondary">Подать заявку на проект</a>
{% endif %}
{% if not projects%}
    <p>Пользователь ещё не публиковал записи...</p>
{% else %}
{% for item in projects%}
{% if (item.is_private and current_user == user) or not item.is_private %}
<div class="card" style="margin-top:10px;width: 50rem;">
    {% if item.photo_path %}
    <img src="{{item.photo_path}}" class="card-img-top" alt="...">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{item.title}} <img src="{{ avatars.robohash(item.user.username, size=28) }}"
                             class="rounded-circle border border-dark" alt="..."></h5>
        <p class="card-text">{{item.content}}</p>
        {% if current_user.is_authenticated and current_user == user %}
        <div>
            <a href="/edit_project/{{ item.id }}" class="btn btn-warning">
                Изменить
            </a>
            <a href="/delete_project/{{ item.id }}" class="btn btn-danger">
                Удалить
            </a>
        </div>
        {% endif %}
        <div style="margin-top:10px">
            Дата создания – {{item.created_date.strftime('%d.%m.%Y, %H:%M')}}
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}